---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family:  Helvetica, Arial, sans-serif;
$base-font-size:    16px;
$small-font-size:   $base-font-size * 0.875;
$title-font-size:   $base-font-size * 1.5;
$base-line-height:  1.5;
$topbar-padding:    0.7em;

$spacing-unit:      30px;

$titlebar-color1:   #274c73; // color from
$titlebar-color2:   #336699; // color to
$titlebar-link1:    #3f80bf; // link color from
$titlebar-link2:    $titlebar-color2; // link color to
$title-text-color:  azure;
$background-color1: #708090;
$background-color2: #4f5966;

$text-color:        #111;
$background-color:  #fdfdfd;
$brand-color:       #2a7ae2;

$grey-color:        #828282;
$grey-color-light:  lighten($grey-color, 40%);
$grey-color-dark:   darken($grey-color, 25%);

$on-mobile:         500px;
$on-laptop:         1000px;




// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

///////////////////////////////////////////////////////////
// General styling classes and elements
///////////////////////////////////////////////////////////

html {
    height: 100%;
}
body {
    padding: 0px;
    margin: 0px;
    background: linear-gradient(to bottom, $background-color1, $background-color2);
    height: 100%;
    font-size: $base-font-size;
    font-family: $base-font-family;
}
ul {
    list-style-type: none;
}
li {
    display: inline;
}
a {
    text-decoration: none;
}
.wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: $on-laptop;
}


/////////////////////////////////////////////////////////////////////
// Style the top bar and the links 
/////////////////////////////////////////////////////////////////////

.topbar {
    background-image: linear-gradient(0deg, $titlebar-color1, $titlebar-color2);
    width: 100%;
}

/* Content area for the top bar. Second unnamed div inside topbar */
.topbar-content {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    
    :last-child {
        padding-right: $topbar-padding;
    }
    
    // The spacer takes ALL the space
    .topbar-spacer {
        flex-grow: 1;
    }
    
    .title-main {
        padding: $topbar-padding;
        color: $title-text-color;
        font-size: $title-font-size;
        flex-grow: 0;
    }
}

.topbar-content nav {
    flex-grow: 0; // use minimum size always
    padding: $topbar-padding 0em $topbar-padding 0em;
    margin: $topbar-padding 0em $topbar-padding 0em;
    
    a {
        color: $title-text-color;
        padding: $topbar-padding 0.5em $topbar-padding 0.5em;
        white-space: nowrap;
    }
    
    a:hover {
        /* Make it brighter when we hover over the link */
        background-image: linear-gradient(180deg, $titlebar-link1, $titlebar-link2);
    }
}


/////////////////////////////////////////////////////////////////////
// Style the content area
/////////////////////////////////////////////////////////////////////

.center-block {
    margin: 2em 2% 0px 2%;
    background-color: lavender;
    border-radius: 10px;
    min-height: 3em;
    
    .content-container {
        padding: 10px 15px 10px 15px;
    }
}

/////////////////////////////////////////////////////////////////////
// If we're on a moble device screen
/////////////////////////////////////////////////////////////////////

@include media-query($on-mobile) {
    .topbar-content {
        flex-direction: column;
        
                
        nav {
            // increase h-padding to form an indent
            padding-left: $topbar-padding * 2;
            // decrease v-padding to reduce scrolling
            padding-top: 0em;
            padding-bottom: $topbar-padding * 0.5;
        }
        
        .title-main {
            // decrease v-padding more
            padding-bottom: $topbar-padding * 0.5;
        }
        
        // Disable the top bar spacer
        .topbar-spacer {
            display: none;
        }
    }
    
    // center block becomes flush with edges and has no gap
    .center-block {
        margin: 0px;
        padding: 0em;
        border-radius: 0px;
        
        :first-child {
            margin-top: 0px;
        }
    }
}
